@model Phonebook_program.Models.Contact

<h2>Добавление пользователя</h2>
<hr />
<form method="post">
    <div class="col-12 border p-3">
        <div class="row">
            <div class="col-md-3 text-center">
                <p>
                    <label asp-for="Name">Имя</label><br />
                    <input type="text" asp-for="Name" />
                </p>
            </div>
            <div class="col-md-3  text-center">
                <p>
                    <label asp-for="Surname">Фамилия</label><br />
                    <input type="text" asp-for="Surname" />
                </p>
            </div>
            <div class="col-md-3  text-center">
                <p>
                    <label asp-for="Age">Возраст</label><br />
                    <input type="number" asp-for="Age" />
                </p>
            </div>
            <div class="col-md-3  text-center">
                <p>
                    <label asp-for="Email">Почта</label><br />
                    <input type="text" asp-for="Email" />
                </p>
            </div>
            <div class="col-md-3  text-center">
                <p>
                    <label asp-for="PhoneNumber">Телефон</label><br />
                    <input type="text" asp-for="PhoneNumber" />
                </p>
            </div>
            <div class="col-md-3  text-center">
                <p>
                    <label asp-for="Address">Адрес</label><br />
                    <input type="text" asp-for="Address" />
                </p>
            </div>
            <div class="col-md-3  text-center">
                <p>
                    <label asp-for="City">Город</label><br />
                    <input type="text" asp-for="City" />
                </p>
            </div>
            <div class="col-md-3  text-center">
                <p>
                    <label asp-for="Region">регион</label><br />
                    <input type="text" asp-for="Region" />
                </p>
            </div>
            <div class="col-md-3  text-center">
                <p>
                    <label asp-for="PostalCode">Индекс</label><br />
                    <input type="text" asp-for="PostalCode" />
                </p>
            </div>
            <div class="col-md-3  text-center">
                <p>
                    <label asp-for="Country">Страна</label><br />
                    <input type="text" asp-for="Country" />
                </p>
            </div>
        </div> 
        <hr />
        <div class="row col-md-12 text-center">
            <p>
                <input type="submit" value="Добавить контакт" />
            </p>
        </div>
    </div>
</form>