@model Phonebook_program.Models.ContactListViewModel;

<h2>Список контактов</h2>
<hr />


@if (Model.Contacts.Count == 0)
{
    <p>Контакты отсутствуют</p>
}
<div class="row">
    <div class="mb-4 text-center">
        <button class="btn btn-dark" asp-controller="Contact" asp-action="Add">Добавить контакт</button>
        <p><a asp-controller="Contact" asp-action="Add">Добавить контакт</a></p>

    </div>
</div>
<table class="table">
    <thead class="thead-light">
        <tr class=""><th>Имя</th><th>Фамилия</th><th>Телефон</th></tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Contacts)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.PhoneNumber</td>
            <td>
                <form asp-controller="Contact" asp-action="Delete" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>