@{
    ViewData["Title"] = "О проекте";
}
<h1>@ViewData["Title"]</h1>

<hr />
<div>
    <p>Этой мой тестовый проект по изучению платформы ASP.NET Core, Entity Framework, а также попытки освоить Фронтенд-разработку</p>
</div>

<div class="box">
    <div class="row">
        <div class="col-lg-12 text-center zindex-1">
            <h2 class="section-title">Контактная информация</h2>
        </div>
    </div>
    <div class="row contact-bg p-5 rounded mb-5">
        <div class="col-lg-7 mb-4 mb-lg-0">
            <form action="#">
                <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Ваше Имя">
                <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Ваш Email">
                <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Тема">
                <textarea name="message" id="message" class="form-control mb-3" placeholder="Ваше сообщение"></textarea>
                <button type="submit" value="send" class="btn">Отправить письмо</button>
            </form>
        </div>
        <div class="col-lg-5">
            <p class="mb-5">Если у вас имеются вопросы и предложения по данному ресурсу используйте контактные данные, указанные ниже.</p>
            <a href="" class="text-color h5 d-block">Telegram: @@Me0w_pew_pew</a>
            <a href="" class="text-color h5 d-block">Почта: Silaevanu@mail.ru</a>
            <p>Силаева Анастасия Юрьевна</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center zindex-1">
            <h3 class="text- center">Используемые программные средства:</h3>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <div class="card p-5 border-blue">
                <h5><i class="ti-twitter round-icon orange mr-2"></i>ASP.NET Core</h5>
                <a target="_blank" href="https://learn.microsoft.com/ru-ru/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-8.0" class="text-color h5 d-block">
                    https://learn.microsoft.com/ru-ru/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-8.0
                    </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <div class="card p-5 border-blue">
                <h5><i class="ti-twitter round-icon blue mr-2"></i>.Net 7</h5>
                <a target="_blank" href="https://learn.microsoft.com/ru-ru/dotnet/core/whats-new/dotnet-7" class="text-color h5 d-block">
                    https://learn.microsoft.com/ru-ru/dotnet/core/whats-new/dotnet-7
                    </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <div class="card p-5 border-blue">
                <h5><i class="ti-twitter round-icon green mr-2"></i>EntityFramework.Core</h5>
                <a target="_blank" href="https://learn.microsoft.com/ru-ru/ef/core/" class="text-color h5 d-block">
                    https://learn.microsoft.com/ru-ru/ef/core/
                    </a>
            </div>
        </div>

    </div>
</div>