@{
    ViewData["Title"] = "О проекте";
}
<h1>@ViewData["Title"]</h1>

<hr />
<div>
    <p>Этой мой тестовый проект по изучению платформы ASP.NET Core, Entity Framework, а также попытки освоить Фронтенд-разработку</p>
</div>