@{
    ViewData["Title"] = "О проекте";
}
<h1>@ViewData["Title"]</h1>

<hr />
<p>Этой мой тестовый проект по изучению платформы ASP.NET, Entity Framework, а также попытки освоить Фронтенд-разработку</p>
